<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="containerhome">
    <header>
        <h1>Home Page!</h1>
    </header>
    <main>
        <h1>This is the Body of the Home Page!</h1>
    </main>
    <aside>
        <h3>Log In</h3>
            <form action="/users/login" method="POST">
                Username: <input type="text" name="username" placeholder="Username">
                Password: <input type="text" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </form><br>
        <h3>Register New User</h3>
            <form action="/users/registration" method="POST">
                Username: <input type="text" name="username"><br>
                Email: <input type="text" name="email"><br>
                Password: <input type="text" name="password"><br>
            <input type="Submit" name="Create User">
        </form>
    </aside>
</body>
</html>