<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body class="containerhome">

    <header class = "homeHeader">
        <h1>Home Page!</h1>
    </header>

    <main class="homeMain">
        <h1>This is the Body of the Home Page!</h1>

    
        <% if(remaining) {%>
            <section>
                <h1>Scheduling Your Child's Vaccines</h1>
                <ul>
                <%for(let i = 0; i < remaining.length; i++) {%>
                    <li><%=remaining[i].name%> needs to be taken when your child is <%=remaining[i].month%> months old.  | <a href="show/<%=remaining[i]._id%>">Details</a></li>
                <%}%>
                </ul>
            </section>
        <%} else {%>
            <section>
                <h1>Scheduling Your Child's Vaccines</h1>
                <h3>Find Out Which Vaccines Your Child Needs & When To Schedule Your Appointments</h3>
                <form action="/vaccines/remaining" method="POST">
                    <input type="text" name="age" placeholder="Your Child's Age in Months" /><br/>
                    <button type='Submit'>Tell Me Which Vaccines Are Left</button>
                </form>
            </section>
        <%}%>


 
    </main>

    <aside class="homeAside">
        <div class="login">
        <h3>Log In</h3>
            <form action="/users/login" method="POST">
                <label>Username:</label> <input type="text" name="username">
                 <label>Password:</label> <input type="text" name="password">
                 <br>
                 <button type="submit">Login</button>
                 <a href="/users/registration">New to MedCheck?</a>
                </form><br>

        </div>
        
        <div class="register">
        <h3>Register New User</h3>
            <form action="/users/registration" method="POST">
                <label>Username:</label> <input type="text" name="username"><br>
                <label>Email:</label> <input type="text" name="email"><br>
                <label>Password:</label><input type="text" name="password"><br>
            <input type="Submit" name="Create User">
        </form>
        </div> 
    </aside>
</body>
</html>