body, html {
    height: 100vh;
}

body {
    margin: 0;
}


.containerhome {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 70% auto;
    grid-template-rows: 20% auto;
    grid-template-areas:
        "H H"
        "M A"
                                   
}



.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "H H"
                         "M M"
                         "M M"

}

header {
    grid-area: H;
    background-color: red;
}

aside {
    grid-area: A;
    background-color: blue;
}

main {
    grid-area: M;
    background-color: green
}

@media only screen and (max-width: 768px) {
    .containerhome {
        margin: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto, 5);
        grid-template-areas:
            "H"
            "M"
            "A"
                                       
    }

    .container {
        margin: 0;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        grid-template-areas: "H H"
                             "M M"
                             "M M"
    
    }
    
}
