body, html {
    height: 100vh;

}

body {
    margin: 0;
}


.containerhome {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 70% auto;
    grid-template-rows: 20% auto;
    grid-template-areas:
        "H H"
        "M A"
                                   
}



.wrapper {
    margin: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% 40% 40%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "H H H"
                         "M M M"

}

.wrapperPS {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 20% 80%;
    grid-template-areas: "H H H"
                         "P C I"
}


/* HEADER AND LOGIN */

header {
    grid-area: H;
    background: lightblue;
    border: 2px solid gray;
    text-align: center;
    font-size: 36px;
}

aside {
    grid-area: A;
    background-color: rgb(66, 66, 230);
}

.homeMain {
    grid-area: M;
    /* background-color: green; */
    background-color: khaki;
    border-radius: 20px;
    text-align: center;
    /* background-image: url('babies.jpg') */
}


.wrapperPS {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "H H H"
                         "P C I"
}


/* HOME PAGE */

.babyphoto {
    max-width: 300px;
}


/* USER HOME PAGE */

.children {
    grid-area: C;
    background-color: lightblue;

}

.info {
    grid-area: I;
    background-color: lightgreen;
}

.userphoto {
    max-width:50%;
    height:auto;
}

.userthumb {
    max-width:25%;
    height:auto;

}

/* PATIENT SHOW PAGE */

.patient {
    grid-area: P;
    background-color: lightyellow;
    border-radius: 20px;
    text-align: center;
}

.compVacc {
    grid-area: C;
    background-color: lightcoral;
    border-radius: 20px;
    text-align: center;

}

.incompVacc {
    grid-area: I;
    justify-items: center;
    text-align: center;
    background-color: lightgreen;
    border-radius: 20px;
    overflow: auto;
} 


/* HOME PAGE */

.homeHeader {
    text-align: center;
}

.homeAside {
    text-align: center;
    font-size: 18px;
}

.login {
    border: 3px solid silver;
    margin: 20px 20px;

}

.register {
    border: 3px solid silver;
    margin: 20px 20px;
    padding-bottom: 20px;
}

label { 
    display: inline-block; 
    width: 210px; 
    text-align: center;
    font-size: 18px; 
    padding: 7px;
}


/* @media only screen and (max-width: 768px) {
    .containerhome {
        margin: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas:
            "H"
            "M"
            "A"
                                       
    }

    .container {
        margin: 0;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        grid-template-areas: "H H"
                             "M M"
                             "M M"
    
    }
    
} */
