<!DOCTYPE html>
<html lang="en">
<head>
   <title>Edit</title>
   <% include ../partials/head %>
   <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="wrapper">
    <header class = "navbar">
        <div class="siteName">
            <h1>BabyVax</h1> 
        </div>
        <div class="links">
            <a href="/patients/new">Add A Patient</a>
            <a href="/users">Back</a>
            <a href="/users/logout">Logout</a>
        </div>
    </header>
<main class="homeMain" id="editUser">
   <h2>What Would You Like to Change?</h2>
     <form action="/patients/<%=patient._id%>?_method=PUT" method="post">
       <input type="text" name="name" value="<%=patient.name%>"/><br/>
       <input type="text" name="age" value="<%=patient.age%>"/><br/>
       <input type="text" name="image" value="<%=patient.image%>"/><br/>
       <input type="submit" value="Update Patient"/>
     </form>
  </main>   
  </body>
</html>