<!DOCTYPE html>
<html lang="en">
<head>
   <title>Edit Baby Details</title>
   <% include ../partials/head %>
   <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="wrapper">
    <header class = "navbar">
        <div class="siteName">
            <h1>BabyVax</h1> 
        </div>
        
    </header>
<main class="homeMain" id="editUser">
  
   <h2>What Would You Like to Change?</h2>
        <form  action="/patients/<%=patient._id%>?_method=PUT" method="post">
          <div class="editForm">
              <div class="formLabel">
                  <label>Name:</label> 
                  <label>Age:</label> 
                  <label>Image URL:</label>
              </div>
              
              <div class="formInput">
                  <input type="text" name="name" value="<%=patient.name%>"><br>
                  <input type="text" name="age" value="<%=patient.age%>"><br>
                  <input type="text" name="image" value="<%=patient.image%>"><br>
              </div>
          </div>
           <button type="submit">Update</button>
         </form>
     <!-- </div> -->
   
     <div class="links">
        <a href="/users">Back</a>
        <a href="/users/logout">Logout</a>
    </div>
  </main>   
  </body>
</html>