<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Index</title>
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="wrapper">
<header>
  <h1>MedCheck</h1>
           <a href="/">Home</a>
           <a href="/patients/new">Create a new Patient</a>
           <a href="/auth/logout">Logout</a>
</header>
  <main>
   <h2>List of Patients</h2>
   <ul>
       <% for(let i = 0; i < patients.length; i++){ %>
           <li>
               <a href="/patients/<%=patients[i]._id%>"><%=patients[i].name%></a>
           </li>
       <% } %>
   </ul>
  </main>
</body>
</html>