<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>New</title>
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="wrapper">
    <header class = "navbar">
        <div class="logoPhoto">
            <img class="babyphoto" src="/css/babies.jpg">
        </div>
        <div class="siteName">
            <h1>MedCheck</h1> 
        </div>
        <div class="links">
            <a href="/patients/new">Add A Patient</a>
            <a href="/">Home</a>
            <a href="/users/logout">Logout</a>
        </div>
    </header>
    <main class=homeMain>
     <h1>Create a Patient</h1>
     <form action="/patients" method="POST">
       Name: <input type="text" name="name" /><br>
       Age in months: <input type="text" name="age" /><br>
       Image: <input type="text" name="image" ><br>
       <button type='Submit'>Create Patient</button>
     </form>
   </main>
 </body>
</html>