<!DOCTYPE html>
<html lang="en">
<head>
   <title>Add a Baby</title>
   <% include ../partials/head %>
   <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="wrapper">
    <header class = "navbar">
        <div class="siteName">
            <h1>BabyVax</h1> 
        </div>
    </header>
    <main class="homeMain">
     <h1>Add a Patient</h1>
     <form class="formWrapper" action="/patients" method="POST">
       <p class="formLabel">Name:</p> <input class="formInput" type="text" name="name" /><br>
       <p class="formLabel">Age in months:</p> <input class="formInput" type="text" name="age" /><br>
       <p class="formLabel">Image URL:</p> <input class="formInput" type="text" name="image" ><br>
       <button type='Submit'>Create</button>
     </form>
     <div class="links" id="addNewLinks">
        <a href="/patients/new">Add A Patient</a>
        <a href="/">Home</a>
        <a href="/users/logout">Logout</a>
    </div>
   </main>
 </body>
</html>