<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>New</title>
    <% include ../partials/head %>

</head>
<body class="wrapper">
  <header>
    <h1>BabyVax</h1>
    <a href="/">Home</a>
    </header>
    <main>
      <h1>Scheduling Your Child's Vaccines</h1>
      <h3>Find Out Which Vaccines Your Child Needs & When To Schedule Your Appointments</h3>
      <form action="/vaccines/remaining" method="POST">
        <input type="text" name="age" placeholder="Your Child's Age in Months" /><br/>
        <button type='Submit'>Tell Me Which Vaccines Are Left</button>
      </form>
    </main>
  </body>
</html>