<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
	<ul>
    <%for(let vaccine of vaccines) {%>
    	<li><%=vaccine.name%> | <a href="vaccines/show/<%=vaccine._id%>">Details</a> | <a href="edit/<%=vaccine._id%>">Edit</a> | <a href="delete/<%=vaccine._id%>">Delete</a></li>
    <%}%>
	</ul>
</body>
</html>