<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="wrapper">
<header>
    <h1>MedCheck</h1>
</header>
<main>
	<ul>
    <%for(let i = 0; i < vaccines.length; i++) {%>
    	<li><%=vaccines[i].name%> | <a href="vaccines/show/<%=vaccines[i]._id%>">Details</a> | <a href="vaccines/edit/<%=vaccines[i]._id%>">Edit</a> | <form action='/vaccines/<%=vaccines[i]._id%>?_method=DELETE' method="POST">
        	<button type='Submit'>Delete</button></li>
    <%}%>
    </ul>
</main>    
</body>
</html>