<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <h1>Create a Vaccine</h1>
    <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
</body>
</html>
    </header>
    <main>
      <form action="/vaccines" method="POST">
        <input type="text" name="name" placeholder=vaccine name /><br/>
        <input type="text" name="months" placeholder=month><br/>
        <input type="text" name="rounds" placeholder=rounds><br/>
        <button type='Submit'>Create Vaccines</button>
      </form>
    </main>
  </body>
</html>
