<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>New</title>
    <% include ../partials/head %>

</head>

<body class="wrapper">
  <header>
    <h1>BabyVax</h1>
  </header>
  <main>
    <h1>Create a Vaccine</h1>
    <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
      <form action="/vaccines" method="POST">
        <input type="text" name="name" placeholder="vaccine name" /><br/>
        <input type="text" name="month" placeholder="month"><br/>
        <input type="text" name="round" placeholder="rounds"><br/>
        <button type='Submit'>Create Vaccine</button>
      </form>
    </main>
  </body>
</html>
