<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New</title>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body class="wrapper">
  <header>
    <h1>MedCheck</h1>
  </header>
  <main>
    <h1>Create a Vaccine</h1>
    <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
      <form action="/vaccines" method="POST">
        <input type="text" name="name" placeholder="vaccine name" /><br/>
        <input type="text" name="month" placeholder="month"><br/>
        <input type="text" name="round" placeholder="rounds"><br/>
        <button type='Submit'>Create Vaccine</button>
      </form>
    </main>
  </body>
</html>
