<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vaccination Details</title>
        <link rel="stylesheet" href="/css/styles.css">        
    </head>
<body class="wrapper">
<header>
    <h1>MedCheck</h1>
</header>
<main class="homeMain">
    <h1><%= vaccine.name %></h1>
    <h3>Age At Which Vaccine is Given: <%= vaccine.month %></h3>
    <h3>Number of Doses Required: <%= vaccine.round %></h3>
    <a href="/">Back to List</a>
</main>    
</body>
</html>