<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit User</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="wrapper">
    <header class = "navbar">
        <div class="siteName">
            <h1>BabyVax</h1> 
        </div>
        <div class="links">
        </div>
    </header>

    <main class="homeMain" id="editUser">

        <h2>What Would You Like to Change?</h2>
        
        <form  action="/users/<%=user._id%>?_method=PUT" method="POST">
        <div class="editForm">
            <div class="formLabel">
                <label>Username:</label> 
                <label>Email:</label> 
            </div>
            
            <div class="formInput">
                <input type="text" name="username" value="<%=user.username%>"><br>
                <input type="text" name="email" value="<%=user.email%>"><br> 
            </div>
        </div>
        <button type="submit">Update</button>
        </form>
        <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete User</button>
        </form>
        
        <div class="links">
            <a href="/users">Back</a>
            <a href="/users/logout">Logout</a>
        </div>
    </main>   
</body>
</html>