<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit</title>
    <% include ../partials/head %>
</head>
<body class="wrapper">
        <header class = "navbar">
                <div class="siteName">
                    <h1>BabyVax</h1> 
                </div>
                <div class="links">
                </div>
            </header>
<main>
    <h1>Edit User</h1>
    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
        Username: <input type="text" name="username" value="<%=user.username%>"><br>
        <!-- Password: <input type="text" name="password"><br> -->
        Email: <input type="text" name="email" value="<%=user.email%>"><br>
        <input type="Submit" name="Create User">
    </form>
    <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete User</button>
    </form>
</main>
</body>
</html>