<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h1>Edit User</h1>
    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
        Username: <input type="text" name="username" value="<%=user.username%>"><br>
        <!-- Password: <input type="text" name="password"><br> -->
        Email: <input type="text" name="email" value="<%=user.email%>"><br>
        <input type="Submit" name="Create User">
    </form>
</body>
</html>