<!DOCTYPE html>
<html lang="en">
<head>
    <title>New</title>
    <% include ../partials/head %>
</head>
<body class="wrapper">
        <header class = "navbar">
                <div class="siteName">
                    <h1>BabyVax</h1> 
                </div>
                <div class="links">
                </div>
            </header>
    <main>
        <h1>New User</h1>
        <br>
        <form action="/users/registration" method="POST">
            Username: <input type="text" name="username"><br>
            Password: <input type="text" name="password"><br>
            Email: <input type="text" name="email"><br>
            <input type="Submit" name="Create User">
        </form>
    </main>
</body>
</html>