<!DOCTYPE html>
<html lang="en">
<head>
    <title>Show</title>
    <% include ../partials/head %>

</head>
<body class="wrapper">
    <header>
        <h1>MedCheck</h1>
    </header>
    <main>
        <h1>User Details</h1>
    </main>
</body>
</html>